<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$frequency['film']['title']}订单</title>
    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    {load href="__PUBLIC__/static/js/jquery-3.1.1.min.js" /}
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}
</head>
<body>
<nav class="navbar" role="navigation" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">疯狂影院</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:url('admin/home/index')}"> <span class="glyphicon glyphicon-home"></span>首页
                </a></li>
                <li class="active">
                    <a href="{:url('admin/film/home')}">
                        <span class="glyphicon glyphicon-folder-close"></span> 电影资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/Screens/home')}">
                        <span class="glyphicon glyphicon-bullhorn"></span> 影厅资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/staff/index')}">
                        <span class="glyphicon glyphicon-user"></span> 员工资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/frequency/index')}">
                        <span class="glyphicon glyphicon-heart"></span> 电影场次安排
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/frequency/insert')}"><span class="glyphicon glyphicon-plus">创建一个场次</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <img src="__PUBLIC__{$user->getData('icon')}" class="img-circle" style="width:
                40px;height: 40px">
                <li><a href="{:url('home/user/read?userId='.$user->getData('id'))}">你好！{$user->getData('username')}</a>
                </li>
                <li><a href="{:url('home/user/logout')}">注销</a></li>

            </ul>
        </div>
    </div>
</nav>

<b style="float: left;padding: 20px">
    电影：{$frequency['film']['title']}<br/>
    场次时间：{:date('Y-m-d H:i:s',$frequency->getData('start_time'))}<br/>
    单价：￥{$frequency['film']['price']}<br/>
    影厅：{$frequency['screens']['name']}<br/>
</b>
<table class="table table-hover">
    <thead>
    <tr>
        <th>序号</th>
        <th>单号</th>
        <th>姓名</th>
        <th>数量</th>
        <th>总价</th>
        <th>订单时间</th>
        <th>订单状态</th>
    </tr>
    </thead>
    <tbody>
    {volist name="orders" id="item" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$item->getData('order_number')}</td>
        <td><a href="{:url('home/user/read?userId=' . $item['user']['id'])}">{$item['user']['username']}</a></td>
        <td>{$item['number']}</td>
        <td><i style="color: red">￥{$item['number']*$item['frequency']['film']['price']}</i></td>
        <td>{:date('Y-m-d H:m:i',$item['create_time'])}</td>
        <td><i style="color: red">已完成</i></td>
    </tr>
    {/volist}
    </tbody>
</table>

</body>
</html>