<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>由html5实现的文件上传预览功能--zyUpload</title>
    <!-- 引用控制层插件样式 -->
    <!--<link rel="stylesheet" href="control/css/zyUpload.css" type="text/css">-->
    {load href="__PUBLIC__/zyUploadfile/control/css/zyUpload.css" /}
    <!--<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>-->
    {load href="__PUBLIC__/static/js/jquery-3.1.1.min.js" /}
    <!-- 引用核心层插件 -->
    <!--<script src="core/zyFile.js"></script>-->
    {load href="__PUBLIC__/zyUploadfile/core/zyFile.js" /}
    <!-- 引用控制层插件 -->
    <!--<script src="control/js/zyUpload.js"></script>-->
    {load href="__PUBLIC__/zyUploadfile/control/js/zyUpload.js" /}
    <!-- 引用初始化JS -->
    <!--<script src="core/lanrenzhijia.js"></script>-->
    {load href="__PUBLIC__/zyUploadfile/core/lanrenzhijia.js" /}
</head>
<body>
<h1 style="text-align:center;">zyUpload示例</h1>
<div id="demo" class="demo"></div>
</body>
</html>