<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有用户</title>
    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    {load href="__PUBLIC__/static/js/jquery-3.1.1.min.js" /}
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}
    <style>
        .btn_a{
            margin-top: 13px;
            margin-left: 10px;
            border: none;
        }
        nav#nav{
            background:gainsboro;
        }
        nav#nav  ul li a:hover{
            background: #ebebeb;
        }
    </style>
</head>
<body style="background: #F4F4F4;">

<nav class="navbar" role="navigation" id="nav" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">疯狂影院</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:url('admin/home/index')}"> <span class="glyphicon glyphicon-home"></span>首页
                </a></li>
                <li class="active">
                    <a href="{:url('admin/film/home')}">
                        <span class="glyphicon glyphicon-folder-close"></span>   电影资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/Screens/home')}">
                        <span class="glyphicon glyphicon-bullhorn"></span>   影厅资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/staff/index')}">
                        <span class="glyphicon glyphicon-user"></span>    员工资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/frequency/index')}">
                        <span class="glyphicon glyphicon-heart"></span>   电影场次安排
                    </a>
                </li>
                <li class="active">
                <a href="{:url('home/thing/register')}">
                    <span class="	glyphicon glyphicon-plus"></span>添加员工
                </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <img src="__PUBLIC__{$user->getData('icon')}" class="img-circle" style="width:
                40px;height: 40px">
                <li><a href="{:url('home/user/read?userId='.$user->getData('id'))}">你好！{$user->getData('username')}</a></li>
                <li><a href="{:url('home/user/logout')}">注销</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class=" " style="border: 1px solid silver;margin: 0 auto;width: 1100px;margin-top: 50px;">
    <table class="table table-striped">
        <thead>
        <tr class="success">
            <th>序号</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>电话号码</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="users" id="item" key="key"}
        <tr>
            <td>{$key}</td>
            <td>{$item->getData('username')}</td>
            <td>{$item->getData('email')}</td>
            <td>{$item->getData('phone')}</td>
            <td>

                {if condition="($user['id'] == $item['id'])"}
                <a href="#" disabled="disabled">分配权限</a>
                {else /}
                <a href="{:url('admin/staff/permissions?id='.$item->getData('id'))}">分配权限</a>
                {/if}

            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>


</body>
</html>