<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    {load href="__PUBLIC__/static/js/jquery-3.1.1.min.js" /}
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}
    {load href="__PUBLIC__/static/css/cropbox.css" /}
    {load href="__PUBLIC__/static/js/cropbox-min.js" /}
    <style>
        nav#nav{
            background:gainsboro;
        }
        nav#nav  ul li a:hover{
            background: #ebebeb;
        }
    </style>
</head>
<body style="background-color: #F4F4F4">

<nav class="navbar" role="navigation" id="nav" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">疯狂影院</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:url('admin/home/index')}"> <span class="glyphicon glyphicon-home"></span>首页
                </a></li>
                <li class="active">
                    <a href="{:url('admin/film/home')}">
                        <span class="glyphicon glyphicon-folder-close"></span>   电影资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/Screens/home')}">
                        <span class="glyphicon glyphicon-bullhorn"></span>   影厅资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/staff/index')}">
                        <span class="glyphicon glyphicon-user"></span>    员工资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/frequency/index')}">
                        <span class="glyphicon glyphicon-heart"></span>   电影场次安排
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <img src="__PUBLIC__{$user->getData('icon')}" class="img-circle" style="width:
                40px;height: 40px">
                <li><a href="{:url('home/user/read?userId='.$user->getData('id'))}">你好！{$user->getData('username')}</a></li>
                <li><a href="{:url('home/user/logout')}">注销</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row col-md-1"></div>
    <form class="form-horizontal" role="form" action="{:url('home/thing/register')}" method="post" id="formdata">
        <div class="row col-md-5 ">
            <div class="form-group">
                <div class="container">
                    <div class="imageBox">
                        <div class="thumbBox"></div>
                        <div class="spinner" style="display: none">Loading...</div>
                    </div>
                    <div class="action" style="margin-top: 15px;">
                        <input type="file" id="file" style="float:left; width: 250px">
                        <input type="button" id="btnCrop" value="确认" style="float: left">
                        <input type="button" id="btnZoomIn" value="放大" style="float: left">
                        <input type="button" id="btnZoomOut" value="缩小" style="float: left">
                    </div>
                    <div class="cropped">

                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-5" style="margin-top: 20px;">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="email">邮箱</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
                </div>
                <div class="col-md-3" id="email_error"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="password">密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                </div>
                <div class="col-md-3" id="password_error"></div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label" for="password2">确认密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="请再次输入密码">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">用户名</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="请输入用户名">
                </div>
                <div class="col-md-3" id="name_error"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="phone">联系方式</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="请输入联系方式">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="address">地址</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="address" name="address" placeholder="请输入地址">
                </div>
            </div>

            <input type="hidden" id="hidd" name="base64Icon" value="">

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="button" class="btn btn-default" id="topost">提交</button>
                </div>
            </div>

        </div>
    </form>

</div>

<script type="text/javascript">
    window.onload = function () {
        var options =
        {
            imageBox: '.imageBox',
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: '__PUBLIC__/static/images/avatar.png'
        }
        var cropper = new cropbox(options);
        document.querySelector('#file').addEventListener('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                options.imgSrc = e.target.result;
                cropper = new cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        })
        document.querySelector('#topost').addEventListener('click', function () {
            var img = cropper.getDataURL();
            $('#hidd').val(img);
            $.ajax({
                type: "POST",
                url: "{:url('home/thing/register')}",
                dataType: "json",
                data: {
                    userdata: $('#formdata').serializeArray()
                },
                success: function (msg) {
//                    alert(msg);
                    switch (msg) {
                        case 'repetition':
                            getlayout("email_error", "此邮箱已经被注册！");
                            break;
                        case 'passwordNoFit':
                            getlayout("password_error", "两次密码不一致！");
                            break;
                        case 'succeed':
                            alert("成功注册！");
                            break;
                        default:
                            alert(msg);

                    }
//                    var u = "{:url('admin/label/index')}";
//                    window.location = u;
                },
            });
        })
        document.querySelector('#btnZoomIn').addEventListener('click', function () {
            cropper.zoomIn();
        })
        document.querySelector('#btnZoomOut').addEventListener('click', function () {
            cropper.zoomOut();
        })
    };

    //==========================================

    //获得错误html代码
    function getlayout(elid, str) {
        $("#" + elid).empty();
        $("#" + elid).parent().removeClass("has-success");
        $("#" + elid).parent().addClass("has-error");
        $("#" + elid).append(
                "<font style='color:red;font-weight:bold;'><span class='glyphicon glyphicon-remove'></span> " + str + "</font>"
        );
    }
</script>

</body>
</html>