<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    {load href="__PUBLIC__/static/js/jquery-3.1.1.min.js" /}
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}
</head>
<body>
<nav class="navbar" role="navigation" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">疯狂影院</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:url('admin/home/index')}"> <span class="glyphicon glyphicon-home"></span>首页
                </a></li>
                <li class="active">
                    <a href="{:url('admin/film/home')}">
                        <span class="glyphicon glyphicon-folder-close"></span> 电影资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/Screens/home')}">
                        <span class="glyphicon glyphicon-bullhorn"></span> 影厅资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/staff/index')}">
                        <span class="glyphicon glyphicon-user"></span> 员工资源管理
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/frequency/index')}">
                        <span class="glyphicon glyphicon-heart"></span> 电影场次安排
                    </a>
                </li>
                <li class="active">
                    <a href="{:url('admin/frequency/insert')}"><span class="glyphicon glyphicon-plus">创建一个场次</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <img src="__PUBLIC__{$user->getData('icon')}" class="img-circle" style="width:
                40px;height: 40px">
                <li><a href="{:url('home/user/read?userId='.$user->getData('id'))}">你好！{$user->getData('username')}</a>
                </li>
                <li><a href="{:url('home/user/logout')}">注销</a></li>

            </ul>
        </div>
    </div>
</nav>
<hr />
<div class="row">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="name">姓名</label>
                <input name="name" type="text" id="name" class="form-control" placeholder="姓名..." value="{:input('get.username')}">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
        </form>
    </div>
</div>
<hr />

<table class="table table-hover">
    <thead>
    <tr>
        <th>序号</th>
        <th>邮箱</th>
        <th>姓名</th>
        <th>联系方式</th>
        <th>订单数量</th>
    </tr>
    </thead>
    <tbody>
    {volist name="users" id="item" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$item->getData('email')}</td>
        <td><a href="{:url('home/user/read?userId=' . $item['id'])}">{$item['username']}</a></td>
        <td>{$item['phone']}</td>
        <td>{:count($item['orders'])}</td>
    </tr>
    {/volist}
    </tbody>
</table>

</body>
</html>